@*@model IEnumerable<JobBoard.DATA.MVC.Position>*@
@model PagedList.IPagedList<JobBoard.DATA.MVC.Position>
@using PagedList.Mvc
@{
    ViewBag.Title = "Company Positions";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <h2>
        <button id="togglePositionCreate" class="btn btn-primary">
            Create Position
        </button>
    </h2>

    <!--AjaxCreate Form-->
    <div id="PositionCreate">
        @*Render a partial view*@
        @Html.Partial("PositionCreate", new JobBoard.DATA.MVC.Position())
    </div>
}
@using (Html.BeginForm("PositionsQS", "Filters", FormMethod.Get))
{
    <p class="pull-right text-right">
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { placeholder = "Search Title" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

   Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

   @Html.PagedListPager(Model, page => Url.Action("PositionsQS", new { page, currentFilter = ViewBag.CurrentFilter }))

   @if (Model.Count == 0)
   {
       <p class="alert alert-warning">
           No Results meet your criteria
       </p>
   }
   else
   {
       <table class="table">
           <tr>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().JobDescription)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().Category)
               </th>
               <th></th>
           </tr>

           @foreach (var item in Model)
           {
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.Title)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.JobDescription)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.Category)
                   </td>
               </tr>
           }
       </table>
   }

   @section scripts{

       <script type="text/javascript">
        //#region AJAX Show Create Form


            $('#PositionCreate').hide();
            $('#togglePositionCreate').click(function () {
                $('#PositionCreate').toggle();
                if ($('#PositionCreate').is(':visible')) {
                    $('#togglePositionCreate').html('Cancel')
                    $('#togglePositionCreate').attr('class', 'btn btn-danger')
            } else {
                    $('#togglePositionCreate').html('Create Position')
                    $('#togglePositionCreate').attr('class', 'btn btn-primary')
            }
            });

            //Submit Form
            $('#PositionCreateForm').submit(function (e) {
                var formData = $(this).serializeArray();
                e.preventDefault();
                $('#MessageContent').html('<div class="alert alert-info">Please wait...</div>');
                $.ajax({
                    url:"@Url.Action("PositionCreate","Filters")",
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                    $('#MessageContent').html("<div class='alert alert-success'>Your record was successfully inserted!</div>");
                    $('#PositionCreateForm')[0].reset();
                    $(function () {
                        var row = '<tr><td>' + data.PublisherName + '</td><td>' + data.City + '</td><td>' + data.State + '</td><td>Refresh to View Options</td></tr>';
                        $('#PositionTable').append(row);

                        $('#PositionCreate').toggle();
                        $('#togglePositionCreate').html('Create Position')
                        $('#togglePositionCreate').attr('class', 'btn btn-primary')
                    });
                },
                    error: function (e) {
                    $('#MessageContent').html("<div class='alert a;ert-warning'> There was an error. Please try again or contact the site admin.</div>");
                }
                });
            });
        //#endregion
        </script>

   }