@model IEnumerable<JobBoard.DATA.MVC.Application>

@{
    ViewBag.Title = "Applicants";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ApplicationsQS", "Filters", FormMethod.Get))
{
    <p class="pull-right text-right">
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { placeholder = "Search Title" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        @if (User.IsInRole("Admin") || User.IsInRole("Management"))
        {
            <th>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </th>
        }
        @*<th>
                @Html.DisplayNameFor(model => model.ResumeFileName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStatus.StatusName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.LastName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Management"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>
            }

            @*<td>
                    @Html.DisplayFor(modelItem => item.ResumeFileName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus.StatusName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.UserDetail.LastName)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
                </td>
            }
        </tr>
    }

</table>
